<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

</head>
<body>
{% include 'navigation/navigator.html.twig' %}
<div class="container">
    <div id="blog" class="row">

    <div class="col-md-12 gap10"></div>
    </div>
    {% if count>=pageCount %}
    <div class="col-md-10 blogShort">
        <h1><em>Posts is over</em></h1>
    </div>
    {% else %}

    {% for post in posts %}
        {% if post.type.cost=="0" or (app.user and  (app.user.username|check(post.getCustomer.getValues) or app.user.getUsername==post.getUser.getUsername))%}
        <div id="blog" class="row">


            <div class="col-md-10 blogShort">
                <a href="/post/{{ post.id }}" target="_blank"> <h1>{{ post.title}}</h1></a>


               <p>Автор: <em><a href="/user/{{ post.user }}">{{ post.user }}</a></em> {{ post.getStringDate }}</p>

                                <article><p>
                        {% set foo %}
                        {% autoescape %}
                            {{ post.body|decode|raw }}
                        {% endautoescape %}
                        {% endset %}
                        {{ foo }}

                    </p></article>
                <a class="btn btn-blog pull-right marginBottom10" href="/post/{{ post.id }}">READ MORE</a>

                    {% else %}
                <div id="blog" class="row">


                    <div class="col-md-10 blogShort">
                        <a href="/post/{{ post.id }}" target="_blank"> <h1>{{ post.title}}</h1></a>
                        <article><p>
                               <em>{{ post.getType.getName}} to view the post!</em>
                            </p></article>
                        <a class="btn btn-blog pull-right marginBottom10" href="/post/{{ post.id }}">{{ post.getType.getName}}</a>
                    {% endif %}
            </div>


        </div>






    {% endfor %}
    {% endif %}







</div>
        </div>
</div>
<div class="container">
    <ul class="pagination">
        <li class=""><a href="">«</a></li>
        {% for pg  in 0..pageCount-1 %}

        <li class=""><a href="{{ pg }}">{{ pg }}</a></li>


        {% endfor %}
        <li><a href="#">»</a></li>
    </ul>
</div>
</body>
</html>
